<mat-toolbar>
    <mat-toolbar-row>
        <span>Add new student</span>
    </mat-toolbar-row>
</mat-toolbar>

<form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Student Id" formControlName="studentId" name="studentId" required #spy>
        <mat-error *ngFor="let v of validation_messages.studentId">
            <mat-error class="erroe-message" *ngIf="form.get('studentId').hasError(v.type) &&
             (form.get('studentId').dirty ||
            form.get('studentId').touched)">
                {{v.message}}
            </mat-error>
        </mat-error>
        <mat-error class="erroe-message" *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="First name" formControlName="name" required #spy>
                    <mat-error *ngFor="let v of validation_messages.name">
                        <mat-error class="erroe-message" *ngIf="form.get('name').hasError(v.type) &&
                             (form.get('name').dirty ||
                            form.get('name').touched)">
                            {{v.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Surname" formControlName="surname" required #spy>
                    <mat-error *ngFor="let v of validation_messages.surname">
                        <mat-error class="erroe-message" *ngIf="form.get('surname').hasError(v.type) &&
                             (form.get('surname').dirty ||
                            form.get('surname').touched)">
                            {{v.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="GPA" formControlName="gpa" required #spy>
                    <mat-error *ngFor="let v of validation_messages.gpa">
                        <mat-error class="erroe-message" *ngIf="form.get('gpa').hasError(v.type) &&
                                 (form.get('gpa').dirty ||
                                form.get('gpa').touched)">
                            {{v.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>

        </tr>
        <div>
            <button mat-raised-button class="center-button" type="button" (click)="downQuantity(student)">-</button>
            <mat-form-field class="penInput">
                <input matInput placeholder="Pen Amount" class="center-text" formControlName="penAmount" required #spy>
                <mat-error *ngFor="let v of validation_messages.penAmount">
                    <mat-error class="erroe-message" *ngIf="form.get('penAmount').hasError(v.type) &&
                         (form.get('penAmount').dirty ||
                        form.get('penAmount').touched)">
                        {{v.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button layout="row" class="center-button" type="button"
                (click)="upQuantity(student)">+</button>
        </div>
    </table>
    <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
        <input matInput placeholder="file name" formControlName="image">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <div class="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button>
    </div>
</form>